*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.logo img{
    display: block;
    height: 50px;
}

ul, li{
    list-style: none;

}


.container{
    max-width: 1024px;
    margin: auto 0;

}
.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;

}

.header{
    background-color: orangered;
    color: white;
}

.header .row{
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.logo{
    font-size: 32px;
    font-weight: 700;
}
.logo img{
    height: 40px;
    display: block;
}

.hero{
    padding: 120px 0;
}
